.App {
  text-align: center;
}

.navbar{
    display: flex;
    align-items: right;
    justify-content: right;
    background-color: black;
    height: 40px;
    gap: 20px;
}

.navbar>*{
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px;
  color: white;
}